<p>Hello {{name}},</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;Attached is the information you have requested.  Please look it over and feel free to contact us with further questions or to sign up for training!</p>
<p>Thank you for your interest,<br/>
The Netwave Team</p>
<p><a href="http://www.netwaveservices.com"><img src="https://storage.googleapis.com/wzukusers/user-27105134/images/58a76783a3c5c0jFsOR3/logo3.png" alt="Netwave Logo" style="height: 84px; width:124px;"><br/>
www.netwaveservices.com</a><br/>
+1 (340) 513-9338</p>
